body {
    color: white;
    background: black;
    padding: 0px;
    margin: 0px;
    font-family: "Grey Qo", cursive;
    margin-bottom: 100px;
}

header {
    border: solid 2px rgb(158,24,14);
    padding: 20px;
    font-size: 28px;
    color:rgb(158,24,14);
}

.chamada {
    background: rgb(158,24,14);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5px;
}

h1 { 
    font-size: 20px;
}

p{
    font-size: 20px;
}

.categoria-videos {
display: flex;
overflow-x: auto;
gap:10px;
}

categoria {
    padding-left:20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid brown;
}

.categoria-videos img:hover {
    opacity:2.0;
}

.categoria h2 {
    color: rgb(158,24,14)
}